name: Dev - Build and Deploy
run-name: Dev - Build and Deploy v${{ inputs.version }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string

jobs:
  test_and_build:
    runs-on: ubuntu-latest
    environment: 'Development'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter

      - run: flutter doctor -v
      - run: flutter test

      - name: Load app secret files and signing keystore
        shell: bash
        env:
          APP_SECRETS: ${{ secrets.APP_SECRETS }}
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
          UPLOAD_KEYSTORE: ${{ secrets.UPLOAD_KEYSTORE_B64 }}
          UPLOAD_KEYSTORE_PROPS: ${{ secrets.UPLOAD_KEYSTORE_PROPS_B64 }}
        run: |
          echo "$APP_SECRETS" >> settings/app_secrets_dev.json
          echo "$GOOGLE_SERVICES_JSON" >> android/app/src/dev/google-services.json
          echo "$UPLOAD_KEYSTORE" | base64 -d > android/keystore/upload.keystore
          echo "$UPLOAD_KEYSTORE_PROPS" | base64 -d > android/keystore/upload.keystore.properties

      - name: Tag commit
        uses: actions/github-script@v7
        with: 
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ inputs.version }}-dev.${{ github.run_number }}',
              sha: context.sha
            })

      - name: Inspect Gradle Cache Before Build
        run: du -shc ~/.gradle/caches/*  | sort -hr

      - uses: actions/cache@v5
        name: Gradle Cache
        with:
          path: |
            ~/.gradle/caches
          key: ${{ runner.os }}-${{ hashFiles('android/build.gradle', 'android/settings.gradle', 'android/gradle.properties', 'android/gradle/gradle-wrapper.properties', 'android/app/build.gradle', 'pubspec.lock', '.fvmrc') }}

      - name: Build dev android apk
        run: flutter build apk --verbose --release --flavor=dev --dart-define-from-file=settings/app_settings_dev.json --dart-define-from-file=settings/app_secrets_dev.json --build-number=${{ github.run_number }} --build-name=${{ inputs.version }}
        
      - name: Inspect Gradle Cache After Build
        run: du -shc ~/.gradle/caches/*  | sort -hr

      - name: Rename dev apk
        run: |
          apk_name="quickshop-dev-${{ inputs.version }}.${{ github.run_number }}.apk"
          echo "apk_name=$apk_name" >> $GITHUB_ENV
          mv build/app/outputs/flutter-apk/app-dev-release.apk "build/app/outputs/flutter-apk/$apk_name"
        
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-dev
          path: build/app/outputs/flutter-apk/${{ env.apk_name }}
      
      - name: Install Firebase CLI
        run: curl -sL https://firebase.tools | bash
        
      - name: Upload dev apk to Firebase App Distribution
        shell: bash
        env:
          SERVICE_ACCOUNT: ${{ secrets.FB_APP_DIST_CREDENTIALS }}
        run: |
          echo "$SERVICE_ACCOUNT" >> google_service_account.json
          export GOOGLE_APPLICATION_CREDENTIALS=google_service_account.json
          firebase --version
          firebase appdistribution:distribute build/app/outputs/flutter-apk/${{ env.apk_name }} --app ${{ vars.ANDROID_FIREBASE_APP_ID }} --release-notes "Dev Build ${{ inputs.version }}" --groups ${{ vars.APP_TESTER_GROUPS }}